*, *::before, *::after {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-image: linear-gradient(90deg, rgba(83,83,69,0.7868872549019608) 35%, rgba(83,83,69,0.5636379551820728) 100%), url(./assets//images/bg.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}


.introText {
    color: white;
    font-size: 5vw;   
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-align: center;   
    
}

.center-align{
    text-align: center;
}

.font-lg{
    font-size: 3vw;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#signUpForm {
    max-height: 239px;
    overflow-y: scroll;
}
input {
   
    padding: 6px;
    border: 1.5px dashed #ccc;
    border-radius: 10px;
    height: 35px;
   
}

.btnLgn {
    background-color: rgb(32, 131, 98);
    color: #f3f3f3;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 6vw;
}

.btnLgn:hover {
    color: rgb(32, 131, 98);
    background-color: #f3f3f3;
    border: 1.5px dashed rgb(32, 131, 98);
    padding: 8.5px 10px;
   
}

.btnSgnUp{
    width: fit-content;
    align-self: center;
    border: 0;
    cursor: pointer;
    font-size: 4vw;
}

.btnSgnUp:hover{
    color: rgb(32, 131, 98);
}



.login-container {
    border-radius: 10px;    
    background-color: #f3f3f3;
    width: 80vw;
    max-width: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;  
    gap: 25px; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

@media  (min-width: 376px) { /*Larger screens*/

    label, .btnLgn {
        font-size: 20px;
    }

    .btnSgnUp {
        font-size: 15px;
    }
  
}


@media  (max-width: 376px) { /*Larger screens*/

    .font-lg, .introText{
        font-size: 20px;
    }
}



@media  (min-width: 500px) { /*Larger screens*/

   
    input {
        height: 40px;
    }
}

@media  (min-width: 900px) { /*Larger screens*/

    .font-lg{
        font-size: 27px;
    }
}